<header id="customers-header">

    <h1>Clientes cadastrados</h1>

</header>

<main id="customers-main">

{{#each data}}
    <div class="card-people">
    <h1> {{this.nome}}</h1>
    <p>IMC: {{this.imc}}</p>
    <p>Peso: {{this.peso}}</p>
    <p>Altura: {{this.altura}}</p>
    <p>Idade: {{this.idade}}</p>

    <button id="btn-card-people"> <a href="/customer/edit/{{this._id}}">Editar dados</a></button>
    <button id="btn-card-people"> <a href="/customer/remove/{{this._id}}">Exluir cliente</a></button>

</div>
{{/each}}

</main>